<?php

define("DEV_MODE", (bool)"%DEV_MODE?0%");

define ("CONF_WEB_ROOT", "%CONF_WEB_ROOT?%");

define("CONF_SUBSCRIPTION_ENDPOINT", "%CONF_SUBSCRIPTION_ENDPOINT?/opt/mock/subscription%");
define("CONF_SUBSCRIPTION_CLIENT_ID", "%CONF_SUBSCRIPTION_CLIENT_ID?micx-ai-writer%");
define("CONF_SUBSCRIPTION_CLIENT_SECRET", "%CONF_SUBSCRIPTION_CLIENT_SECRET?%");

define("CONF_DEEPL_API_KEY", "%CONF_DEEPL_API_KEY?%");
define("CONF_OPENAI_API_KEY", "%CONF_OPENAI_API_KEY?%");
define("CONF_DEEPL_API_KEY_FILE", "%CONF_DEEPL_API_KEY_FILE?/opt/.keys/deepl.key%");
define("CONF_OPENAI_API_KEY_FILE", "%CONF_OPENAI_API_KEY_FILE?/opt/.keys/openai.key%");

const CONF_API_MOUNT = "/v1/api";

const CONF_STORE_PATH = "%CONF_STORE_PATH?/data%";
const CONF_STORE_PATH_PRESETS = CONF_STORE_PATH . "/presets";
